{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <nav>
        <h1>
            <img src="{{ asset('images/banner.svg') }}" alt="La Citadelle"/>
        </h1>
    </nav>
{% endblock %}